<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Good Health</title>
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/header %> 
    <div class="container">
      <div class="jumbotron" style="color:black;">
        <h1> Good Health</h1>
        <a href="/loginmode" class="btn btn-primary">Login</a>
        <a href="/register" class="btn btn-primary">Signup</a>
      </div>  
      
    </div>
    <script src="/javascripts/sw.js"></script>
  </body>
</html>
