<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%include ./partials/head %>
    <title>Login</title>
</head>
<body>
    <%include ./partials/header %>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-6 col-md-offset-2">
                <a href="/login" class="btn btn-success form-control">Login With Email</a>
            </div>
            
            <div class="col-md-4 col-xs-6">
                <a href="/loginmobile" class="btn btn-success form-control">Login With OTP </a>
            </div>
        </div>
    </div>
    <script src="/javascripts/sw.js"></script>

 </body>
</html>